$logoBackgroundcolor: rgba(36, 107, 65, 0.84);
$backgroundColor: rgba(201, 228, 175, 0.8);
$titleColor: rgb(44, 145, 85);
$fontColor: whitesmoke;
$lightGreen: #2C9155FF;
$darkMint: rgb(121, 210, 181);