$logoColor: rgb(36, 107,65);
$backgroundColor: rgb(201,228,175);
$titleColor: rgb(39,117,71);
$fontColor: rgb(232, 247, 234);
$mint: rgb(140, 217, 182);
$darkMint: rgb(121, 210, 181);
$lightGreen: rgb(170,223,159);
