* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $main-font;
  color: black;
  font-size: 1.5rem;
  background-color: $backgroundColor;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.logo {
  font-family: $logo-font;
  font-size: 7rem;
  color: #311c00;
  text-shadow: 2px 2px 25px #3d2300;
  font-weight: bold;
}

.line {
  width: 140px;
  border-bottom: 5px solid whitesmoke;
}


//Grid
$columns: 12;
$column-base-width: 100% / $columns;

.container--grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  .row {
    display: flex;
    flex-wrap: wrap;

    [class*=col-] {
      min-height: 1px;
      width: $column-base-width;
      padding: 12px;
    }

    @for $i from 1 through $columns {
      .col-#{$i} {
        width: $column-base-width * $i;
      }
    }
  }
}