* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  font-family: $main-font;
  color: $fontColor;
  font-size: 1.5rem;
  background-color: #003768;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

